/* Style the header */
#babody1 {
  background-color: #ccc;
}
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
ul.topnav {
  list-style-type: none;
  margin: 5;
  padding: 1;
  overflow: hidden;
  background-color: rgb(78, 56, 56);
}
ul.topnav li {
  float: left;
}
ul.topnav li.right {
  float: right;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 196, 0);
}
.HR {
  height: 5px;
  border-width: 10;
  color: rgb(49, 218, 15);
  background-color: rgb(8, 9, 63);
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #ffffffd8;
  width: 90%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.titreh1 {
  text-align: left;
  margin-inline-start: 5%;

  color: #f12c12;
}
p::first-letter {
  font-size: 200%;
  color: #eb7d16;
}
.ullist {
  border-width: 10;
  color: rgb(49, 218, 15);
  background-color: rgb(32, 35, 182);
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #78a8cf;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 12%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
#ftl {
  text-align: center;
}
.fffte {
  display: inline-block;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}
